body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: 'Fira code', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}
