@import '../../sass/colors.scss';

.button {
  border: 0;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
}

.large {
  padding: 10px 30px;
}

.small {
  padding: 5px 16px;
}

.primary {
  background-color: map-get($button, 'primary');
  color: $white;
}

.secondary {
  background-color: map-get($button, 'secondary');
  color: $white;
}

.transparent {
  background: transparent;
  color: $fontColor;
}
