@import '../../sass/colors.scss';

.container {
  display: flex;
  height: 30px;
  margin-bottom: 10px;
  padding: 20px 10px;
  border: $grey200 1px solid;
  border-radius: 3px;
}

.remove {
  margin-right: 10px;
  padding: 0;
}

.input {
  flex: 1 1;
  margin-right: 10px;
  padding: 0 3px;
  border: $grey300 1px solid;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;

  &::placeholder {
    font-style: italic;
  }
}

.connector {
  display: flex;
  flex: 0 1;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  padding: 0 10px;
  border: $grey300 1px solid;
  border-radius: 5px;
  background-color: $grey100;
  font-size: 13px;
}
