@import '../../sass/colors.scss';

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 25px 0;
}

.title {
  margin-bottom: 20px;
}

.add {
  margin: 5px 0 65px;
}

.line {
  margin: 0 0 20px;
}

.actions {
  margin-bottom: 45px;
}

.search {
  margin-right: 30px;
}

.searchIcon {
  margin-right: 10px;
}

.query {
  padding: 60px;
  border: $grey100 1px solid;
  border-radius: 3px;
  background-color: $white;
}

.noQuery {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
